@model sem3.Areas.Admin.Models.DataModels.UsersModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>UsersModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Role)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Role.RoleId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ServiceProvider)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServiceProvider.ServiceName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RechargePlans)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RechargePlans.RechargePlanName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.UserId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
