@model IEnumerable<sem3.Areas.Admin.Models.DataModels.RechargeLogsModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>RechargeLogs</h2>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RechargePlanId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RechargeDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RechargePlanId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RechargeDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RechargeLogId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RechargeLogId">Details</a> |
                @*<a asp-action="Delete" asp-route-id="@item.RechargeLogId">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
